services:
  tb3_nav:
    build: .
    image: tb3_classic_nav:latest
    container_name: tb3_nav
    runtime: nvidia
    shm_size: "2gb"
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - TURTLEBOT3_MODEL=waffle
      - MESA_NO_ERROR=1        
      # - vblank_mode=0          # desativa vsync
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=graphics,compute,utility
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/root/.Xauthority:ro
      - ./ws/src/tb3_bug_nav_classic/worlds:/root/ws/src/tb3_bug_nav_classic/worlds:rw
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ports:
      - "11345:11345"
